# RP2350 HID token
# Matches VID:PID 0xCAFE:0x4011 and grants access to local users in dialout.
KERNEL=="hidraw*", SUBSYSTEM=="hidraw", ENV{ID_VENDOR_ID}=="cafe", ENV{ID_MODEL_ID}=="4011", MODE="0660", GROUP="dialout", TAG+="uaccess"
